@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 375px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    #1d1e28 0.12%,
    #261c2d 94.84%,
    #261a2d 100%
  );
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 54px;
  padding: 142px 24px 0;
}
.title {
  text-align: center;
  color: #fff;
  font-family: "Red Hat Text";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 6.136px;
  text-transform: uppercase;
}
.show-result {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.number {
  color: #fb5e84;
  font-family: "Red Hat Text";
  font-size: 36px;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: -1.08px;
}

.text {
  color: #8385a9;
  font-family: "Red Hat Text";
  font-size: 7px;
  font-weight: 700;
  letter-spacing: 2.959px;
}
.icons {
  display: flex;
  justify-content: center;
  /* margin-bottom: 48px; */
}
.center {
  text-align: center;
}
.relative {
  position: relative;
}
.absolute p {
  position: absolute;
  top: 0;
  left: 14px;
}
.left-svg {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
}
.right-svg {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 1;
}
hr {
  position: absolute;
  top: 33px;
  width: 70px;
  border: none;
  height: 0.473px;
  opacity: 0.253;
  background-color: #000;
  z-index: 1;
}
.dark {
  position: absolute;
  top: 0;
  width: 70px;
  height: 33px;
  border-radius: 4px 4px 0px 0px;
  opacity: 0.1506;
  background: #000;
}
